.header{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: gray;
}

.header-left{
    display: flex;
    margin-left: 20px;
    align-items: center;
    width: 70%;
}

.header-right{
    display: flex;
    margin-left: auto;
    margin-right: 20px; ;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

.button-logout {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .button-logout:hover {
    background-color: #d32f2f; /* Darker red */
  }

  .header-right span {
    color: #ffffff;
    font-family: 'STKaiti', 'KaiTi', 'KaiTi_GB2312', 'STFangsong', serif;
  }